{% extends "regrec/results.html" %}

{% load i18n %}
{% load regrec_timedeltas %}

{% block nav_title %}{{ event.name }}{% endblock%}

{% block results_tab %}
  <table id="runs" class="table table-striped table-hover">
    <thead>
      <tr>
        <th>{% trans "Yacht" %}</th>
        <th>{% trans "Start Time" %}</th>
        <th>{% trans "Finish Time" %}</th>
        <th>{% trans "Duration" %}</th>
        <th>{% trans "Type" %}</th>
        <th>{% trans "Yardstick" %}</th>
        <th>{% trans "Yardstick Time" %}</th>
        <th>{% trans "Note" %}</th>
      </tr>
    </thead>
    <tbody>
      {% for run in race.runs.all %}
      <tr>
        <td>{{ run.yacht.name }}</td>
        <td>{{ run.start_time.time }}</td>
        <td>{{ run.finish_time.time }}</td>
        <td>{{ run.duration|crop_timedelta }}</td>
        <td>{{ run.yacht.model }}</td>
        <td>{{ run.yacht.yardstick }}</td>
        <td>{{ run.yardstick_time|crop_timedelta }}</td>
        <td>{{ run.comment }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}

{% block extra_js %}
  <script>
    $(document).ready(function() {
      $("#runs").dataTable({
        "order": [[6, 'asc'], [4, 'desc']],
        "bPaginate": false,
        "bInfo": false,
        "bFilter": false,
      });
    });
  </script>
{% endblock %}
